{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block page_content %}
    <div class="col-md-6">
        {{ wtf.quick_form(form) }}
    </div>
    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th>文章编号</th>
                    <th>文章标题</th>
                    <th>操作</th>
                    <th>编辑</th>
                </tr>
            </thead>
            <tbody>
            {% for article in article_list %}
                <tr>
                    <td>{{ article.id }}</td>
                    <td><a href="{{ url_for('main.read', article_id=article.id)}}">{{ article.title }}</a></td>
                    <td><a href="{{ url_for('admin.article_del', id=article.id, a='del')}}">删除</a></td>
                    <td><a href="{{ url_for('admin.article_edit', article_id=article.id)}}">编辑</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %} 
