{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block page_content %}
<div class="col-md-6">
    {{ wtf.quick_form(form) }}
</div>
<div class="col-md-6">
    <table class="table">
        <thead>
            <tr>
                <th>目录编号</th>
                <th>目录标题</th>
                <th>操作</th>
            </tr>
        </thead>
        {% for foo in clist %}
            <tr>
                <td>{{ foo.id }}</td>
                <td><a href="{{ url_for('main.category', category_id=foo.id)}}">{{ foo.name }}</a></td>
                <td><a href="{{ url_for('admin.article_del', id=foo.id, a='del')}}">删除</a></td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
