{% extends 'base.html' %}
{% block page_content %}
<div class="col-md-10">
    <table class="table">
        <thead>
            <tr>
                <th class='col-md-4'>标题</th>
                <th>正文</th>
                <th class='col-md-4'>创建时间</th>
            </tr>
        </thead>
        {% for article in articles %}
        <tr>
            <td><a href="{{ url_for('main.read', article_id=article.id) }}">{{ article.title }}</a></td>
            <td>{{ article.body[:20]+'...' }}</td>
            <td>{{ article.create_time }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock%}
